{% extends "layout.html" %}
{% block body %}

<ul class = "list-group list-group-flush">
{% for horsedata in horsedata %}
<div class = "card">
<div class = "card-body">
  <h4 class = "card-sign">{{horsedata.sign}}</h4>
  <p> 競馬場　　:　{{horsedata.racecourse}}競馬場</p>
  <p> 開催日時　:　{{horsedata.racedate}}</p>
  <p> レース順　:　{{horsedata.racenum}}R</p>
  <p> 芝ダート　:　{{horsedata.coursetype}}</p>
  <p> 距離　　　:　{{horsedata.distance}}m</p>
  <p> 条件　　　:　{{horsedata.condition}}</p>
  <a href = "{{ url_for('show_comment', id = horsedata.id) }}" class="card-link">予想コメント</a>
</div>
</div>
{% else %}
  NO data
{% endfor %}
</ul>

{% endblock %}
