{% extends "layout.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-info" role = "alert">
  {{ message }}
  </div>
{% endfor %}
<form action="/plus" method=post class = plus>
  <div class="register_form">
    <a>+++++ 競馬場名 +++++++++++++++</a>
    <br>
    <label><input type="radio" name="racecourse" value="kokura">小倉</label><br>
    <label><input type="radio" name="racecourse" value="hutyu">府中</label><br>
    <label><input type="radio" name="racecourse" value="kyoto">京都</label><br>
    <label><input type="radio" name="racecourse" value="hannsin">阪神</label><br>
    <label><input type="radio" name="racecourse" value="nakayama">中山</label><br>
    <label><input type="radio" name="racecourse" value="sapporo">札幌</label><br>
    <label><input type="radio" name="racecourse" value="hakodate">函館</label><br>
    <label><input type="radio" name="racecourse" value="niigata">新潟</label><br>
    <label><input type="radio" name="racecourse" value="saga">佐賀</label><br>
    <a>+++++++++++++++++++++++++++++</a>
    <br><br>

    <label for="racedate">開催日時 </label>
    <input type="date" name="racedate" id="racedate"></input>
    <br><br>

    <label for="racenum">レース順 </label>
    <input type="text" name="racenum" id="racenum">
    <br><br>

    <label for="horsename">馬名 (必須)</label>
    <input type="text" name="horsename" id="horsename">
    <br><br>

    <label for="distance">距離 </label>
    <input type="text" name="distance" id="distance">
    <br><br>

    <a>+++++ 条件 +++++++++++++++++++</a><br>
    <label><input type="radio" name="condition" value="shinba"> 新馬・未勝利</label><br>
    <label><input type="radio" name="condition" value="500"></label> 500万下<br>
    <label><input type="radio" name="condition" value="1000"></label> 1000万下<br>
    <label><input type="radio" name="condition" value="1600"></label> 1600万下<br>
    <label><input type="radio" name="condition" value="op"> OP</label><br>
    <label><input type="radio" name="condition" value="G3"> G3</label><br>
    <label><input type="radio" name="condition" value="G2"> G2</label><br>
    <label><input type="radio" name="condition" value="G1"> G1</label><br>
    <a>+++++++++++++++++++++++++++++</a>
    <br>


    <br>
    <a>+++++ 印 (必須) ++++++++++++++++++++</a><br>
    <label><input type="radio" name="sign" value="◎"> ◎</label><br>
    <label><input type="radio" name="sign" value="◯"> ◯</label><br>
    <label><input type="radio" name="sign" value="▲"> ▲</label><br>
    <label><input type="radio" name="sign" value="△"> △</label><br>
    <label><input type="radio" name="sign" value="×"> ×</label><br>
    <label><input type="radio" name="sign" value="☆"> ☆</label><br>
    <label><input type="radio" name="sign" value="注"> 注</label><br>
    <a>+++++++++++++++++++++++++++++</a>
    <br><br>


    <a>コメント:</a><br>
    <textarea name="comment" rows="4" cols="40"></textarea>
    <br><br>
    <button type="submit" onClick="alert(登録完了);">登録</button>
</form>
{% endblock %}
